form action=login_check_url method="post"
  input type="hidden" name="gw_address" value=params[:gw_address]
  input type="hidden" name="gw_port" value=params[:gw_port]
  input type="submit" value="Link Start"
